.contenedor-quinielas {
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.obtener-quinielas {
    background-color: #F5F7FA;
    border-radius: 20px;
    width: 100%;
    border: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 25px;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}   

.quiniela {
    color: black;
    width: 150px;
    max-width: 100%;
    height: 310px;
    padding: 5px;
    text-align: center;
    border: 1px solid #d2cece;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.3s ease;
}

.quiniela:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid rgb(201, 196, 196);
    cursor: pointer;
}

.quiniela h4 {
    margin: 0;
    padding: 3px;
}

button {
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
    padding: 4px;
    padding-inline: 18px;
}

button:hover {
    cursor: pointer;
    background-color: #005fa3;
}